<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>동글락여행 관리자</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="<%=page%>" ng-app="wheeladmin">
<div class="container">