<div class="coverbg" ></div>

<div class="container login">

    <!-- TODO. 크롬사용권장 메세지 추가  -->
    <form class="form-signin" role="form" action="{{pageConfig.urlPrefix+'/login'}}" method="post">
        <h2 class="form-signin-heading">
            <img src="http://i.imgur.com/6ge4pOO.png" width="50" alt=""/>
            WHEELTRIP
        </h2>
        <input type="text" name="userid" class="form-control" placeholder="아이디" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
        <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="remember"> 기억하기-->
        <!--</label>-->
        <button class="btn btn-lg btn-default btn-block" type="submit">
            <span class="glyphicon glyphicon-user"></span>
            들어가기
        </button>
    </form>
</div>