<div class="edit-wrap">
    <div class="form">
        <formly-form result="place" fields="fields" options="formOptions" ng-submit="onSubmit()">
            <div class="etc">
                <!--"-->
                <button type="submit" class="btn btn-primary ">
                    <span class="glyphicon glyphicon-ok"></span> 저장
                </button>
                <a ng-click="back()">
                    뒤로
                </a>
            </div>
        </formly-form>
    </div>


</div>